<div class="content-wrapper">
    <section class="content-header">
        <h4><a [routerLink]="['/dashboard']">Dashboard </a>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <a [routerLink]="['/dashboard/user-fatwa']"> User Fatwa </a>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Fatwa Reply
        </h4>
        <hr />
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/admin-dashboard']"><i class="fa fa-dashboard"></i> Home</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class=form-border>
                    <div class="form-group">
                        <label for="FatwaId">Fatwa Id:</label>
                        <input type="text" class="form-control" id="emailId">
                    </div>
                    <div class="form-group">
                        <label for="Title">Title:</label>
                        <input type="text" class="form-control" id="password1">
                    </div>
                    <div class="form-group">
                        <label for="Title">Description:</label>
                        <input type="text" class="form-control" id="password1">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>