<div class="container login-form">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="customer-login">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <a [routerLink]="['/admin-login']"
                ><img src="assets/img/logo.png" width="100"
              /></a>
            </div>
          </div>
        </div>
        <h3>Admin Forgot Password</h3>
        <hr />
        <form
          [formGroup]="formAdminForgotPassword"
          (ngSubmit)="onSubmitAdminForgotPassword()"
        >
          <div class="form-group">
            <label>Email Id <em>*</em></label>
            <input
              type="text"
              formControlName="EmailId"
              placeholder="Enter Email id"
              class="form-control"
            />
            <div class="error-text" *ngIf="formAdminForgotPassword.controls.EmailId.touched && formAdminForgotPassword.controls.EmailId.hasError('pattern')">
              Please enter valid email id.
            </div>
            <div class="error-text" *ngIf="submitted && formAdminForgotPassword.controls.EmailId.errors?.required">
              Please enter email id.
            </div>
          </div>
          <span id="error"></span>
          <div class="form-group">
            <button id="btn-admin-forgot" class="btn btn-block btn-success">
              <span *ngIf="getPassword">Get Password >></span>
              <span *ngIf="pleaseWait">
                <img src="assets/img/loaders/loading_circle2.gif" width="25" />
                Please wait...
              </span>
            </button>
          </div>
        </form>
        <div class="login-forgot-pass">
          Have password ?
          <a [routerLink]="['/admin-login']">Click here</a>.
        </div>

        <div class="login-divider">
          <h6>
            <span>Baitul Ma'arif</span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
